.excel-table {
  border-collapse: collapse;
  width: 100%;
}

.excel-table td {
  border: 1px solid #121010;
  padding: 8px;
}

.excel-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;
}
